
# Visual Studio user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache files
.vs/
*.vsidx

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Others
*.dbmdl
*.bak
*.tmp
*.swp
*.cache
